<div id="offering" class="mb-5">
    <div class="row mx-0 px-0">
        <div class="col-12 col-md-6 d-flex flex-column px-0">
            <h1 class="fw-bold mb-4">Transform Employee Engagement with Our Expert-Led Assessments</h1>
            <p>Our carefully designed surveys help you measure employee engagement, identify areas for improvement, and build a thriving workplace culture.</p>
        </div>
        <div class="col-12 col-md-6 d-flex flex-column">
            <h4>Take Comprehensive Assessments</h4>
            <p>Evaluate employee engagement levels with our research-backed surveys. 
                Identify key motivators, workplace challenges, and opportunities for growth. 
                Our assessments provide a clear roadmap to foster a more engaged, productive, and satisfied workforce.</p>
            <h4>Get Actionable Insights</h4>
            <p>Receive detailed, data-driven reports with personalized recommendations. 
                Understand the factors influencing workplace satisfaction, leadership effectiveness, and team dynamics. 
                Implement strategies that enhance employee morale, retention, and overall organizational success.</p>
        </div>
    </div>
</div>