<div id="offering" class="mb-5">
    <div class="row mx-0">
        <div class="col-12 col-md-6 d-flex flex-column">
            <h1 class="fw-bold mb-4">Transform Your Pricing Strategies with Our Surveys Designed by Industry Experts</h1>
            <p>Our expertly crafted surveys help you evaluate your pricing strategies, identify growth opportunities, and unlock the potential for long-term success.</p>
        </div>
        <div class="col-12 col-md-6 d-flex flex-column">
            <h4>Take comprehensive assessments</h4>
            <p>Evaluate your organization's pricing strategies with our expertly crafted surveys. 
                Identify gaps, benchmark against industry standards, and uncover opportunities for 
                growth and improvement. These assessments are designed to provide you with a clear 
                roadmap to achieve pricing excellence.</p>
            <h4>Get actionable insights</h4>
            <p>Receive detailed, data-driven reports and tailored recommendations based on your survey 
                results. Understand the strengths and weaknesses of your pricing approach and implement 
                strategies that deliver measurable outcomes. Stay ahead by making smarter, faster, and 
                more effective decisions.</p>
        </div>
    </div>
</div>