<div id="subHero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <h1 class="fw-bold">Elevate your pricing with expert-led surveys</h1>
        <p class="lead">Our carefully crafted surveys analyze your pricing maturity, delivering actionable insights to help your business thrive in a competitive market.</p>
        <div class="d-flex align-items-start justify-content-md-start">
            <a href="/auth/signup" class="btn btn-primary me-3 mb-1">Start Your Free Assessment</a>
            <a href="#howItWorks" class="btn btn-outline-secondary mb-1">Learn More</a>
        </div>
    </div>
</div>