<footer class="py-1 text-light text-center" id="footer">
    <div class="container d-flex justify-content-end align-items-center">
        <span>&copy; Price Santa 2025</span>
        <a href="mailto:contact@pricepelican.com" class="text-light text-decoration-none">&nbsp; &nbsp;<i class="fa fa-envelope" style="font-size:16px;color:white"></i>&nbsp;Contact Us</a>
    </div>
</footer>