<footer class="py-1 text-light text-center" id="footer">
    <div class="container d-flex justify-content-between align-items-center">
        <span>&copy; Price Pelican 2025</span>
        <a href="mailto:contact@pricepelican.com" class="text-light text-decoration-none">Contact Us</a>
    </div>
</footer>