<div id="hero" class="mb-xl-4 mb-md-2">
    <div class="row mx-0 heroBox pb-5">
        <div class="col-12 col-md-7 text-start justify-content-center d-flex flex-column pt-3 mb-1">
            <p></p>
            <h1 class="mb-4 display-1">Measure, Improve, Elevate Employee Engagement</h1>
            <p class="lead mb-4">
                Leverage our <span class="fw-bold" style="color: #ff4429;">data-driven surveys and AI based insigts</span> to gain deep insights into employee engagement and assess your team or workplace morale, productivity, and leadership effectiveness.
            </p>
            <div class="d-flex align-items-end justify-content-md-start">
                <a href="/auth/signup" class="btn btn-lg btn-primary me-3 mb-1">Start Assessments</a>
                <a href="#offerings" class="btn btn-lg btn-outline-secondary mb-1">Learn More</a>
            </div>
        </div>
    </div>
</div>