<div id="hero" class="mb-2">
    <div class="row mx-0">
        <div class="col-12 col-md-5 d-none d-md-block">
            <img src="/img/hero.gif" alt="GIF of analysis" style="height:400px;">
        </div>
        <div class="col-12 col-md-7 text-start justify-content-center d-flex flex-column pt-3 mb-2">
            <h1 class="fw-bold mb-2"><img src="/img/logo.png" alt="" style="width: 50px;">&nbsp;The Honest Meter</h1>
            <h2 class="fw-bold mb-4">Measure, Improve, Elevate Employee Engagement</h2>
            <p class="lead mb-4">
                Gain deep insights into employee engagement with data-driven surveys designed to assess workplace morale, productivity, and leadership effectiveness.
            </p>
            <p class="lead mb-4">
                Identify areas for improvement, implement actionable strategies, and foster a thriving work environment with real-world best practices.
            </p>
            <div class="d-flex align-items-end justify-content-md-end">
                <a href="/auth/signup" class="btn btn-primary me-3 mb-1">Start Your Free Assessment</a>
                <a href="#howItWorks" class="btn btn-outline-secondary mb-1">Learn More</a>
            </div>
        </div>
    </div>
</div>