<div id="hero" class="mb-2">
    <div class="row mx-0">
        <div class="col-12 col-md-5 d-none d-md-block">
            <img src="/img/hero.gif" alt="GIF of analysis" style="height:400px;">
        </div>
        <div class="col-12 col-md-7 text-start justify-content-center d-flex flex-column pt-3">
            <h1 class="fw-bold">Price Pelican</h1>
            <h2 class="fw-bold mb-4">Assess, Optimize, Lead Your Pricing</h2>
            <p class="lead mb-4">
                Unlock your pricing potential with expert-led surveys that evaluate pricing maturity, actionable insights to drive strategies, and thought leadership content to master pricing trends.
            </p>
            <p class="lead mb-4">
                Learn from real-world examples of companies that excel at pricing, and take your business to the next level.
            </p>
            <div class="d-flex align-items-end justify-content-md-end">
                <a href="/auth/signup" class="btn btn-primary me-3 mb-1">Start Your Free Assessment</a>
                <a href="#howItWorks" class="btn btn-outline-secondary mb-1">Learn More</a>
            </div>
        </div>
        
    </div>
</div>