<div id="howItWorks">
    <div class="row mx-0">
        <div class="col-12 col-md-6 d-flex flex-column">
            <h1 class="fw-bold mb-4">How It Works</h1>
        </div>
    </div>
    <div class="row mx-0">
        <div class="col-md-4 text-start">
            <div class="circle mb-3 ms-0 d-flex align-items-center justify-content-center">
                1
            </div>
            <h4>Take the Survey</h4>
            <p>Complete a comprehensive employee engagement assessment tailored to your organization. Our surveys are based on industry-leading frameworks and provide deep insights into workplace morale, leadership effectiveness, and team dynamics. It’s quick, insightful, and designed to help you understand what truly drives engagement in your workforce.</p>
        </div>
        <div class="col-md-4 text-start">
            <div class="circle  mb-3 ms-0 d-flex align-items-center justify-content-center">
                2
            </div>
            <h4>Get Your Report</h4>
            <p>Receive a detailed engagement report with actionable insights. The report breaks down key areas such as employee motivation, leadership impact, and organizational culture, offering data-driven recommendations to enhance engagement and productivity. Identify strengths, uncover gaps, and take informed action—all in one easy-to-read document.</p>
        </div>
        <div class="col-md-4 text-start">
            <div class="circle mb-3 ms-0 d-flex align-items-center justify-content-center">
                3
            </div>
            <h4>Act & Elevate</h4>
            <p>Turn insights into action with tailored recommendations, expert strategies, and real-world best practices from top organizations. Implement changes that foster a positive work environment, track progress over time, and create a culture where employees feel valued, motivated, and empowered to perform at their best.</p>
        </div>
    </div>
</div>