<div id="ofering" class="mb-5">
    <div class="row mx-0">
        <div class="col-12 col-md-6 d-flex flex-column">
            <h1 class="fw-bold mb-4">Transform Your Workplace with Actionable Engagement Insights</h1>
        </div>
    </div>
    <div class="row mx-0">
        <div class="col-md-4">
            <h4>Employee Engagement Assessments</h4>
            <p>Measure and analyze employee engagement levels with our expertly designed surveys. 
                Identify key drivers of motivation, assess workplace culture, and uncover areas for 
                improvement. Our assessments provide a clear roadmap to build a more engaged and productive workforce.</p>
        </div>
        <div class="col-md-4">
            <h4>Actionable Insights</h4>
            <p>Receive comprehensive reports with data-driven insights and tailored recommendations based on your survey results. 
                Understand the factors influencing employee satisfaction, leadership impact, and team dynamics. 
                Implement effective strategies that drive engagement, retention, and workplace success.</p>
        </div>
        <div class="col-md-4">
            <h4>Expert Guidance</h4>
            <p>Access thought leadership content, case studies, and best practices from top-performing organizations. 
                Gain valuable knowledge on fostering a positive work environment, improving leadership effectiveness, 
                and building a high-performance culture where employees thrive.</p>
        </div>
    </div>
</div>