<div id="loginSignupForm">
    <form action="/auth/login" method="post" class="col-12 col-md-6 col-lg-4 col-xl-4">
        <h1>Login to your account</h1>
        <label for="email" class="form-label">Enter your email</label>
        <input type="email" name="email" id="else" class="form-control">
        <label for="password" class="form-label">Enter your password</label>
        <input type="password" name="password" id="password" class="form-control">
        <div class="mb-2">
            <button type="submit" class="btn btn-primary w-100">Login</button>
        </div>
        <div>
            <p class="mb-1 small">Do not have an account <a href="/auth/signup">Signup</a></p>
        </div>
    </form>
</div>