<div id="subHero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <h1 class="fw-bold">Read our expert insights on pricing</h1>
        <p class="lead">Learn from insights and real-world examples of companies that excel at pricing, and take your business to the next level across all areas of pricing.</p>
        <div class="d-flex align-items-start justify-content-md-start">
            <a href="/insights/all" class="btn btn-outline-secondary mb-1">Read all blogs</a>
        </div>
    </div>
</div>